body {
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-weight: normal;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    color: black;
    font-weight: medium;
    font-family: Roboto, Arial, sans-serif;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;
}

h3 {
    font-size: 18px;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;

    background-color: yellow;
}

.main-header {
    background-color: #eeeeee;
}

.logo {
    float: left;
    width: 160px;
    min-height: 70px;
}

.main-navigation {
    float: left;
    width: 840px;
    min-height: 70px;
    background-color: #eeeeee;
}

.main-navigation li {
    display: inline-block;
}

.cart {
    float: right;
    width: 160px;
    min-height: 70px;
    background-color: #eeeeee;
}

.slider {
    position: relative;
    background-color: #eeeeee;
}

.slide-wrapper {
    float: left;
    margin-left: 20px;
    width: 380px;
    min-height: 410px;
    position: relative;
}

.slide {
    display: none;
}

.slide-1 {
    display: block;
}

.slide img {
    position: absolute;
    height: 100%;
}

.slider-controls input {
    position:absolute;
    opacity: 0;
}

.slider .img {
    float: right;
    margin-left: 20px;
    width: 760px;
}

.features {
    text-align: center;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 80px;

    background-color: red;
}

.feature-item {
    margin-left: 100px;
    float: left;
    width: 300px;
    height: 350px;

    background-color: yellow;
}

.feature-item:first-child {
    margin-left: 0;
}

.about-us {
    text-align: center;
    padding-top: 30px;

    /*background-color: blue;*/
}

.about .container {
    border-top: 2px solid #eeeeee;
}

.about-us-col-left {
    float: left;
    width: 660px;
}

.about-us-col-right {
    float: right;
    width: 350px;
}

.advantages .advantage {
    float: left;
    width: 100px;
}

.clients {
    text-align: center;
    padding-top: 30px;
}
.clients .container {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.contacts {
    width: 320px;
    height: 310px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 75px;
}

.footer-map {
    margin-top: 80px;
    position: relative;
    display: block; /*?*/
}

.footer-map .container {
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer-bottom {
    margin-top: 80px;

    background-color: red;
}

.footer-bottom-left {
    width: 260px;
    float: left;

    background-color: green;
}

.footer-bottom-right {
    width: 900px;
    float: right;
    background-color: green;
}

.page-title {
    text-align: center;
    background-color: #eeeeee;
    min-height: 165px;
    padding-top: 20px;
}

.main-products .content-col-left {
    width: 260px;
    float: left;
}

.main-products .content-col-right {
    width: 760px;
    float: right;
    margin-left: 140px;
}

.products {
    font-size: 0;
}

.product-card {
    width: 360px;
    padding-bottom: 40px;
    display: inline-block;
}

.product-card:nth-of-type(2n){
    margin-left: 40px;
}

.product-card-details {
    display: none;
}