body {
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-weight: regular;
    font-family: Roboto, Arial, sans-serif;
   }

h1 {
    font-size: 55px;
    line-height: 55px;
    color: black;
    font-weight: medium;
    font-family: Roboto, Arial, sans-serif;
   }

h2 {
    font-size: 24px;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;
   }

h3 {
    font-size: 18px;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;
   }


.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 50px 20px 0 20px;
    background-color: yellow;
}

.logo {
    float: left;
    width: 160px;

    background-color: #eeeeee;
    min-height: 70px;
}

.main-navigation {
    float: left;
    width: 840px;

    background-color: #eeeeee;
    min-height: 70px;
}
.main-navigation li {
    display: inline-block;
}

.cart {
    float:right;
    width: 160px;

    background-color: #eeeeee;
    min-height: 70px;
}

.slider {



}
.slider .slides {
    background-color: #eeeeee;
}
.features {
    text-align: center;
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 80px;

    background-color: red;

}

.feature-item {
    margin-left: 100px;
    float: left;
    width: 300px;
    height: 350px;



    background-color: yellow;
}
.feature-item:first-child {
    margin-left: 0;

}
.about-us {
    text-align: center;
    background-color: blue;
}
.about-us-col-left {
    float: left;
    width: 660px;
}
.about-us-col-right {
    float: right;
    width: 350px;
}
.advantages .advantage {
    float: left;
    width: 100px;
}
.clients {
    text-align: center;
    height: 260px;
}
.contacts {
   width: 320px;
   height: 310px;

   background-color: red;

}
.footer-bottom {
    margin-top: 70px;

    background-color: red;
}
.footer-bottom-left {
    width: 260px;
    float: left;

    background-color: green;
}
.footer-bottom-right {
    width: 900px;
    float: right;
    background-color: green;
}
.page-title {
    text-align: center;
    background-color: #eeeeee;
    height: 165px;
    padding-top: 80px;
}
.main-products .content-col-left {
    width: 260px;
    float: left;
}
.main-products .content-col-right {
    width: 760px;
    float: right;
    margin-left: 140px;

}